
<ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
</ion-nav-bar>





<ion-tabs class="tabs-icon-top tabs-positive tabs-striped">


    <ion-tab title="Your Teams" icon="ion-person" ui-sref="ionBarStripped.yourTeam">
        <ion-nav-view name="yourTeamTab">

        </ion-nav-view>



    </ion-tab>

    <ion-tab title="All Teams" icon="ion-earth" ui-sref="ionBarStripped.allTeams">
        <ion-nav-view name="allTeamsTab"></ion-nav-view>
    </ion-tab>





</ion-tabs>

