html,body{

    text-align: center;

}

.background {
    background-image: url("../img/backgroundImage4.png");
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    background-position: center;
    display: block;


    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}

.myContent {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
}

.facebookLogin{

    text-align: center;
    margin-top: 40%;

}
.facebookLogin>img
{
    width: 80px;
    height: 80px;

}
.facebookLogin>button>h4
{
color: #ffffff;
    font-family: cursive;
}
.facebookLogin>button{

    opacity: 0.9;
}

.takeTour{

    margin-top: 40%;


}
.takeTour>b{
    color: #ffffff;
    font-family: cursive;

}
.my-button-positive{
    border-color: #0c63ee;
    background-color: #2858b0;
    color: #9f9f9f;
}

